name: 评论自动发送邮箱

on:
  discussion_comment:
    types: [created]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Convert UTC to Beijing Time
        id: time
        run: |
          UTC_TIME="${{ github.event.comment.created_at }}"
          BJ_TIME=$(date -d "$UTC_TIME 8 hour" "+%Y-%m-%d %H:%M:%S")
          echo "bj=$BJ_TIME" >> $GITHUB_OUTPUT

      - name: Send email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.qq.com
          server_port: 465
          content_type: text/html
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: "博客有新评论！"
          to: "2396768163@qq.com"
          from: "Giscus <${{ secrets.MAIL_USERNAME }}>"
          headers: "Time:${{ steps.time.outputs.bj }}"
          body: |
             <!DOCTYPE html>
            <html>
            <head>
                <meta charset="utf-8">
            </head>
            <body>
                <div style="text-align:center; font-size:22px; font-weight:bold; margin-bottom:20px;">
                  来自博客的新评论
                </div>

                <div style="font-size:16px; line-height:1.6;">
                  <p><strong>评论时间（北京时间）：</strong> ${{ steps.time.outputs.bj }}</p>

                  <p><strong>评论地址：</strong>
                  <a href="https://xbzhong.cn/${{ github.event.discussion.title }}">
                  https://xbzhong.cn/${{ github.event.discussion.title }}</a></p>

                  <p><strong>评论内容：</strong><br>
                  ${{ steps.escape.outputs.comment_body }}</p>

                  <p><strong>评论人：</strong>
                  ${{ github.event.comment.user.login }}</p>

                  <p><strong>评论链接：</strong>
                  <a href="${{ github.event.comment.html_url }}">
                  ${{ github.event.comment.html_url }}</a></p>
                </div>
            </body>
            </html>
